
:root {
  --gradient-color-1: #1cc7d0;
  --gradient-color-2: #2ede98;
  --card-background-color: #fff;
  --back-face-social-media-icon-color: #fff;
  --card-border-color: #1cc7d0;
  --gradient-angle-degree: 375deg;
}

::selection{
  color: var(--card-background-color);
  background: var(--gradient-color-1);
}

.wrapper{
  height: 400px;
  width: 320px;
  display: flex;
  
  position: relative;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: var(--card-background-color);
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face img{
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(var(--gradient-angle-degree), var(--gradient-color-1), var(--gradient-color-2));
}
.wrapper .back-face .info{
  text-align: center;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
}
.back-face ul{
  display: flex;
}
.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  color: var(--back-face-social-media-icon-color);
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(var(--gradient-angle-degree), var(--gradient-color-1), var(--gradient-color-2));
  transition: all 0.5s ease;
}
.back-face ul a:hover{
  color: var(--gradient-color-1);
  border-color: var(--card-border-color);
  background: linear-gradient(var(--gradient-angle-degree), transparent, transparent);
}
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
  background-color: #2f2a2a;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
@media screen and (max-width: 768px) {
  .guideUser{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .wrapper {
    margin-bottom: 70px;
  }
  .card ,.card img{
    border: 2px solid black;
  }
}
